<!DOCTYPE html>
<html lang="en">
<head>
    <!--<style>
    .title {
        background-color: blue;
        font-size: 20px;
        color: darkred;
        width: 100%;
    }
    .normal {
        background-color: slategrey;
        width: 100%;
    }
    </style>-->
    <link rel="stylesheet" type="text/css" href="nor.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="normal">
    {% if all_albums %}
        <div class="title">
            <p align="center">Welcome to my Music Page</p>
        </div>
        <ul>
            {% for album in all_albums %}
            <li><a href="{{ album.id }}/">{{ album.album_title }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
            <h3>You don't have any albums</h3>
    {% endif %}
</body>
</html>